## SAMUEL BITTON: 2246844
## RICARDO CASTER: 342688405

## https://github.com/RicardoCaster/kryat_netunim_matala1

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
import requests
from bs4 import BeautifulSoup
import re

def get_ad_links():
    base_url = "https://www.ad.co.il"
    listings_url = "https://www.ad.co.il/nadlanrent?sp275=17413&sp277=17633,18274,17512"
    
    response = requests.get(listings_url)
    response.raise_for_status()  # אם יש שגיאת חיבור

    soup = BeautifulSoup(response.text, "html.parser")

    # מוצא את כל הקישורים שכוללים את התבנית של מודעה
    ad_links = set()
    for a_tag in soup.find_all("a", href=True):
        match = re.search(r"/ad/(\d+)", a_tag["href"])
        if match:
            ad_id = match.group(1)
            full_link = f"{base_url}/ad/{ad_id}"
            ad_links.add(full_link)

    return list(ad_links)


def get_apartment_details(url):
    details = {}
    headers = {'User-Agent': 'Mozilla/5.0'}

    try:
        response = requests.get(url, headers=headers)
        if response.status_code != 200:
            print("Failed to fetch page.")
            return details

        soup = BeautifulSoup(response.content, 'html.parser')

        # 🟡 חיפוש טקסט שמכיל את הסימן ₪
        price_tag = soup.find(string=lambda text: text and "₪" in text)
        if price_tag:
            price = price_tag.strip()
        else:
            price = "מחיר לא נמצא"
        details['מחיר כלל'] = price

        # 🟢 שליפת פרטי הדירה מתוך הטבלה
        table = soup.find('table', class_='table table-sm mb-4')
        if table:
            for row in table.find_all('tr'):
                cols = row.find_all('td')
                if len(cols) == 2:
                    key = cols[0].get_text(strip=True)
                    value = cols[1].get_text(strip=True)
                    details[key] = value

        # 🟠 שליפת תיאור הדירה
        description_tag = soup.find('p', class_='text-word-break')
        if description_tag:
            description = description_tag.get_text("\n", strip=True)
            description = description.replace("\n\n", " ").replace(" ,", ",").strip()
            details['description'] = description
        else:
            details['description'] = "אין תיאור"

        # 🔸 שליפת עמודות בוליאניות מתוך הקלאסים הגרפיים
        features_section = soup.find('div', class_='card-icons-wrap p-3')
        features = {
            'is_furnished': 'מרוהטת',
            'ac': 'מזגן',
            'has_parking': 'חניה',
            'has_safe_room': 'ממ\"ד',
            'has_balcon': 'מרפסת',
            'handicap': 'נגישות',
            'has_bars': 'סורגים',
            'elevator': 'מעלית',
            'has_stotsge': 'מחסן',
            'has_sun_balcon': 'מרפסת שמש',
            'is_renovated': 'משופצת'
        }

        if features_section:
            icons = features_section.find_all('div', class_='card-icon')
            for key, label in features.items():
                found = 0
                for icon in icons:
                    span = icon.find('span')
                    if span and label in span.text:
                        if 'fa-check' in icon.decode():
                            found = 1
                        break
                details[key] = found
        else:
            for key in features:
                details[key] = 0

        # 🔹 שליפת תמונות
        image_tags = soup.find_all('img', class_='img-fluid')  # או כל class שמתאים לתמונות
        image_urls = [img['src'] for img in image_tags if 'src' in img.attrs]
        details['num_of_images'] = len(image_urls)  # סופרים את התמונות

        return details

    except Exception as e:
        print("Error:", e)
        return details


def get_all_apartments():
    # שלב 1: קבל את כל ה-URLs של הדירות
    ad_links = get_ad_links()
    
    all_apartments = {}
    
    # שלב 2: עבור כל URL, קבל את פרטי הדירה
    for url in ad_links:
        apartment_details = get_apartment_details(url)
        
        # אם נמצא פרטי דירה, הוסף למילון
        if apartment_details:
            all_apartments[url] = apartment_details
    
    return all_apartments


# שלב 3: הפעל את הפונקציה וצלם את התוצאה
apartments_data = get_all_apartments()

# הצגת המידע
for url, details in apartments_data.items():
    print(f"URL: {url}")
    for key, value in details.items():
        print(f"{key}: {value}")
    print("-" * 50)

URL: https://www.ad.co.il/ad/16197381
מחיר כלל: 5,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: נוה חן
כתובת: מעפילי אגוז 5
חדרים: 2.5
קומה: 3 מתוך 4
שטח בנוי: 65
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 450
ועד בית בחודש: 60
description: רחוב:מעפילי אגוז שכונה: כפיר דירה 2.5 חד כ 65 מטר קומה 3 ללא מעלית משופצת ויפה,יציאה למרפסת סגורה מטבח עם מקרר חדרי שינה מרוחים,עם פרקטים ומזגן. אזור עם חניה חופשי. כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/13704459
מחיר כלל: 7,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: מלצ'ט 8
חדרים: 3
מרפסות: 2
קומה: 2 מתוך 4
שטח בנוי: 76
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 450
ועד בית בחודש: 300
description: 3  חדרים,כ - 76  מטר מסודרת מוארת מקסימה ואיוכתית.
חזית.
כיווני אוויר צפון,ומערב
3 מרפסות.
דוד שמש
מזגנים
הדירה מיועדת רק למשפחות.
ללא בעלי חיים
 12 צ'קים
כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15547083
מחיר כלל: 7,500 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: אחד עם 88
חדרים: 3
מרפסות: 1
קומה: קרקע מתוך 4
שטח בנוי: 70
תשלומים בשנה: 12
ארנונה בחודש: 450
ועד בית בחודש: 200
description: רחוב: אחד העם
קומה: קרקע.
דירה של 3 חדרים, מסודרת מוארת מקסימה כ - 70 מטבח פתוח פלוס פינת אוכל \ עבודה.
חדרים שינה עם מזגנים.
פונה לעורף שקט.
יציאה למרפסת שמש של 10 מטר,פונה לעורף שקט.
בניין עם אינטרקום פלוס קודן.
מתאימה לשותפים \ זוג פלוס אחד.
כניסה: 1.6.2023
is_furnished: 0
ac: 0
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/16191330
מחיר כלל: 11,000 ₪
פרטי הנכס: גג/ פנטהאוז
אזור: תל אביב
עיר: תל אביב יפו
שכונה: נוה חן
כתובת: מעפילי אגוז 66
חדרים: 5
מרפסות: 2
קומה: 7 מתוך 7
שטח בנוי: 190
שטח גינה: 80
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 300
description: דירה חדשה למשפחה לתקופה ארוכה
is_furnished: 0
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/15905127
מחיר כלל: 7,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: במנחם בגין  9
חדרים: 3
קומה: 2 מתוך 4
שטח בנוי: 70
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 350
ועד בית בחודש: 200
description: שכונת לבונטין דירת 3 חדרים משופצת חדש בבנין ששופץ לאחרונה. קומה 2 עם מעלית 3 חדרים, חלונות אוומים 2 חדרי שינה שלכל חדר יש מקלחת והסלון ביניהם. גם ל2 שותפים  מיידית. + הוצאות זניחות.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15292527
מחיר כלל: 9,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: אלנבי 99
חדרים: 3
מרפסות: 1
קומה: 2 מתוך 3
שטח בנוי: 95
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 250
description: דירה של  3  חדרים, כ - 95  מטר, גדולים מהממת עם מרפסות שמש.
משוחזרת ומהממת
 באלנבי ליד נחלת בנימין/שוק הכרמל ושינקין
קומה ב'
 שירותים כפולים
מלאת אור.
מרפסות
גם לשותפים,
אפשר עם ריהוט
כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/14371613
מחיר כלל: 5,500 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: תל חיים
כתובת: דרך השלום 99
חדרים: 3
מרפסות: 2
קומה: 2 מתוך 4
שטח בנוי: 100
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 700
ועד בית בחודש: 120
description: תל אביב מזרח
דירה של 3 חדרים, מסודרת מוארת מקסימה ויפה, כ - 100 מטר
סלון פלוס פינת עבודה.
יציאה למרפסת סגורה פונה לירוק.
חדר שינה אחד עם מרפסת שמש. דוד שמש, מזגן בכל חדר, ארון קיר בכל חדר, עורפית לשכונה תל חיים.
3 כוון אויר.
נוף מלא לירוק מאוד שקט.
מעולה למשפחה\ שותפים.
כניסה מידית
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/14235471
מחיר כלל: 14,500 ₪
פרטי הנכס: דופלקס
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: שדרות רוטשילד 9
חדרים: 3
מרפסות: 2
קומה: 5 מתוך 7
שטח בנוי: 98
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 450
ועד בית בחודש: 300
description: דופלקס של  3  חדרים כ - 98 מטר עם נוף פתוח לכל השכונה. מטבח פתוח לסלון.פלוס יציאה למרפסת שמש. שתי מרפסות  חדרי שינה עם מזגנים. בניין עם אינטרקום וקודן. חניה תת ק"ק,ומעלית. כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 1
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15675130
מחיר כלל: 3,900 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: הרצל 3
חדרים: 1
קומה: 1 מתוך 4
שטח בנוי: 30
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 200
description: שכונה: פלורנטיין דירת חדר וחצי כ- 30 מטר, עם רהוט חלקי עורפית בקומה 3 גבוהה ללא מעלית 3,900₪ + הוצאות זניחות כניסה מיידית
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 1
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/13477350
מחיר כלל: 11,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: לילינבלום 11
חדרים: 3
מרפסות: 1
קומה: 3 מתוך 6
שטח בנוי: 80
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 650
ועד בית בחודש: 250
description: אזור: נווה צדק דירת בוטיק . בבניין בוטיק חדש ומעוצב * דירת בת 3 חדרים * קומה שלישית * מעלית נגישה * חניה מקורה פרטית לדירה * 80 מטר של דירה * 10 מרפסת שמש מפנקת  הדירה מגיעה מרוהטת ומעוצבת בפריטים איכותיים. תאריך מסירה 03.2022
is_furnished: 1
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15445787
מחיר כלל: 9,000 ₪
פרטי הנכס: דירת גן
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: לבונטין 1111
חדרים: 2
מרפסות: 1
קומה: קרקע מתוך קרקע
שטח בנוי: 50
שטח גינה: 30
תשלומים בשנה: 12
description: להשכרה בלב העיר
בבניין חדש לאחר שימור
באזור עם שפע סופרים ומקומות בילוי
דירת גן יפיפיה בת 2 חדרים
שקטה מאוד ועם המון פרטיות
כ-50 מ''ר+ חצר גדולה כ-30 מ''ר מושלמת לאירוח
מיזוג מרכזי
ארון נפרד עם הכנה למכונת כביסה
בעלי חיים מתקבלים בברכה
הדירה מגיעה ריקה
מושלמת ליחיד או לזוג! כניסה: 1 למאי
מחיר: 9,000 ש''ח לחודש לפרטים נוספים ותיאום פגישה:
050-9719933
דריה, יועצת נדל''ן
תיווך טורמלין נכסים
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 13
--------------------------------------------------
URL: https://www.ad.co.il/ad/16193338
מחיר כלל: 8,500 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: יפו )מרכז( 19
חדרים: 3.5
מרפסות: 1
קומה: 3 מתוך 3
שטח בנוי: 100
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 400
description: דירה 3.5 חדרים מרווחים+ מרפסת ענקית+ 2 שירותים. הדירה ממוקמת ברחוב שקט ומרכזי.
is_furnished: 1
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16206817
מחיר כלל: 4,500 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: נוה חן
כתובת: מעפילי אגוז 46
חדרים: 3
קומה: 3 מתוך 4
שטח בנוי: 60
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 430
description: במעפילי אגוז, 3 כיווני אוויר, מוארת, וגדולה במצב טוב עם מטבח חדש. באזור שקט ומבוקש. ממוקמת ליד בתי ספר, גנים, פארק ציבורי, גני שעשועים ומרכז מסחרי. במרחק הליכה מתחבורה ציבורית וגישה קרובה לכבישים הראשיים. לרציניים בלבד עם אפשרות לתקופה ארוכה.
is_furnished: 0
ac: 1
has_parking: 1
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16191142
מחיר כלל: 25,000 ₪
פרטי הנכס: דירת גן
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: מזא"ה
חדרים: 3
מרפסות: 1
קומה: קרקע מתוך 3
שטח בנוי: 260
תשלומים בשנה: 12
ועד בית בחודש: 400
description: ענקית כניסה נפרדת תקרה גבוהה סלון ו2 מסטרים ענקיים עיצוב אדריכלי כניסה אפשרית החל מ1.7 החניות אפשריות בסמוך בתשלום נוסף לפניה נא לשלוח הודעת ואטץאפ ולציין "מזאה 25000" ואת השם שלך ונשוב בהקדם. ניתן לשכור בסמוך עוד יחידה עם אפשרות חיבור בניהם של כ120 מר וכניסה אל הנוספת בנפרד. יש בבניין מקלט תת קרקעי
is_furnished: 1
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 1
has_stotsge: 1
has_sun_balcon: 1
is_renovated: 1
num_of_images: 13
--------------------------------------------------
URL: https://www.ad.co.il/ad/16014591
מחיר כלל: 3,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: מזא"ה 45
חדרים: 2
מרפסות: 1
קומה: קרקע מתוך 3
שטח בנוי: 70
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 250
description: מילואימניק / סטודנט מחפש שותפ/ה לדירה במיקום אטרקטיבי על פינת מזא"ה רוטשילד . חדר גדול, מטבח גדול ומאובזר כולל פינת ישיבה, חדר רחצה ושירותים עם מקלחון . ללא תיווך .
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16208813
מחיר כלל: 9,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: שדרות רוטשילד 81
חדרים: 2
קומה: 2 מתוך 4
שטח בנוי: 70
תשלומים בשנה: 12
ארנונה בחודש: 380
ועד בית בחודש: 350
description: בבנין מקסים דירה 2 חדרים מרווחת מאד 2 שרותים מעלית חנייה ומחסן מאובזרת
is_furnished: 0
ac: 0
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 0
num_of_images: 13
--------------------------------------------------
URL: https://www.ad.co.il/ad/15885045
מחיר כלל: 12,500 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: יהודה הלוי 33
חדרים: 4
מרפסות: 1
קומה: 2 מתוך 5
שטח בנוי: 100
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 500
description: מרכז תל אביב צמוד לפארק קריית ספר דירת  4 חדרים כ - 100 מטר,עם יציאה למרפסת שמש נוף לאזור. 2 חדרי רחצה 3 כיווני אויר מרפסת עם נוף פתוח עורפית שקטה ומוארת מאד חניה כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15852733
מחיר כלל: 9,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: בלפור 34
חדרים: 3
מרפסות: 2
קומה: 3 מתוך 4
שטח בנוי: 90
תשלומים בשנה: 12
ארנונה בחודש: 400
ועד בית בחודש: 100
description: דירת 3 חדרים ברחוב בלפור. 2 מרפסות. מקרר +תנור וכיריים גז. הבניין עומד לעבוד בקרוב שיפוץ קוסמטי של עזרה וביצרון
is_furnished: 0
ac: 0
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 0
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16191469
מחיר כלל: 22,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: שדרות רוטשילד
חדרים: 4
מרפסות: 1
קומה: 6 מתוך 25
שטח בנוי: 145
תאריך כניסה: מיידית
תשלומים בשנה: 12
description: להשכרה ברוטשילד
דירת 4 חדרים, 145 מ"ר
חדר מאסטר ענק + שירותים מקלחת
חדר ממ"ד + עוד חדר שינה
דירה מעוצבת ברמה גבוהה
מלאת אור וסטייל בעלת נוף מהמם רואה ים
מרפסת שקטה ואינטימית חדרי שינה גדולים ונוחים
דירה לאוהבי החיים הטובים
חדר כושר/ בריכה /חנייה
is_furnished: 1
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 1
has_bars: 1
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 12
--------------------------------------------------
URL: https://www.ad.co.il/ad/16178732
מחיר כלל: 18,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: רוטשילד 30
חדרים: 3.5
מרפסות: 1
קומה: 7 מתוך 20
שטח בנוי: 100
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 2000
ועד בית בחודש: 1500
description: רחוב: רוטשילד   במגדל רוטשילד   דירת 3.5 חדרים הכוללת ממ״ד שכרגע משתמש כחדר ארונות כ- 100 מטר מרפסת של 23 מטר 2 שרותים ו 2 מקלחות בקומה ד׳ מעלית חנייה דמי ניהול : 2,800₪ המקנה כניסה לבריכה / חדר כושר שומר 24/7 כניסה מיידית
is_furnished: 0
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/14531887
מחיר כלל: 4,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: רוטשילד 90
חדרים: 4
קומה: 2 מתוך 3
שטח בנוי: 90
תשלומים בשנה: 12
ארנונה בחודש: 100
ועד בית בחודש: 100
description: השכרה לשבועיים
is_furnished: 1
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 0
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16215028
מחיר כלל: 28,000 ₪
שנה: 2012
יד: 2
ת. הילוכים: אוטומטית
נפח: 1,600
סוג מנוע: בנזין
ק"מ: 105,000
טסט עד: 04/2026
צבע: שחור
בעלות קודמת: פרטית
בעלות נוכחית: פרטית
אזור: תל אביב
עיר: תל אביב יפו
description: תוספות
ניסאן ג'וק דגם Tekna המפואר, במצב חיצוני ופנימי ממש כמו חדש – שמור על הצד הטוב ביותר!!
נמכר בצער עקב קבלת רכב מהעבודה.
הרכב כולל: - טסט לשנה קדימה - טיפול 10,000 בוצע לפני קצת יותר מחודש 4-  צמיגים חדשים - מושבי עור מפנקים עם אוורור וחימום - מערכת מולטימדיה חדשה עם סאונד איכותי מאוד - מצלמות רוורס וחיישני רוורס – הכל תקין פרטים נוספים בטלפון :)
0526006721
0532788088
is_furnished: 0
ac: 0
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 0
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/8424407
מחיר כלל: 3,500 ₪
פרטי הנכס: דירה להשכרה בתל אביב יפו
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: דרך מנחם בגין 19
חדרים: 1
קומה: 3 מתוך 5
שטח בנוי: 25
description: ללא תיווך להתקשר למס' הנייח בלבד! דירת חדר, סטודיו, מרוהטות ברמה גבוהה, 3 דק'  משד' רוטשילד 3,200₪ +600₪ עבור כל ההוצאות: חשמל, אינטרנט, מים, ארנונה, ועד בית, מיזוג, מים חמים 24\7, מכונת כביסה ומייבש
is_furnished: 1
ac: 1
has_parking: 0
has_safe_room: 1
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 1
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/15888772
מחיר כלל: 8,900 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: רוטשילד 6
חדרים: 3
קומה: 2 מתוך 5
שטח בנוי: 85
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 350
description: עורפית ושקטה ברחוב רוטשילד סמוך להבימה 3 חדרים כ85 מ"ר קומת קרקע עם מרפסת סגורה  מרווחת ומוארת ושקטה אמבטיה דוד חשמלי שרותים אחד נישאר בדירה: ארון אפשר בעלי חיים ועד כ125 ש"ח לחודש ארנונה לחודשיים כ600 ש"ח אפשר בעלי חיים חניון של הבימה סמוך לדירה כניסה 1/9/2023
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/15993497
מחיר כלל: 11,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: נחלת בנימין 42
חדרים: 7
מרפסות: 1
קומה: 1 מתוך 3
שטח בנוי: 120
תאריך כניסה: מיידית
תשלומים בשנה: 12
description: נחלת בנימין42 תלאביב. דירה מרוהטת משופצת קומה1 ליד מקלט ציבורי. 7חדרים 3שרותים 3מקלחות . חדר הורים כולל מקלחת ושרותים פרטיים. לחודש 11000שח כולל ארנונה ועד-בית ואינטרנט. דניאל 0549985864
is_furnished: 1
ac: 1
has_parking: 0
has_safe_room: 0
has_balcon: 1
handicap: 1
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 13
--------------------------------------------------
URL: https://www.ad.co.il/ad/13273008
מחיר כלל: 6,800 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: אחד העם 44
חדרים: 3
מרפסות: 1
קומה: קרקע מתוך 4
שטח בנוי: 55
תאריך כניסה: מיידית
תשלומים בשנה: 12
ארנונה בחודש: 500
ועד בית בחודש: 250
description: מרכז תל אביב

דירה של 3 חדרים, כ - 55 מטר, פונה לעורף,סלון עם מטבח פתוח.פלוס פינת אוכל.

חדרים שינה עם מזגנים.

מסודרת ויפה.

מקלחת ושרותים ביחיד.

בניין מסודר ויפה.

מיקום מושלם קרוב לכל מקום ברגל.

מתאימה למשפחה קטנה \ שותפים.

כניסה מידית.
is_furnished: 0
ac: 1
has_parking: 0
has_safe_room: 1
has_balcon: 1
handicap: 0
has_bars: 1
elevator: 0
has_stotsge: 0
has_sun_balcon: 1
is_renovated: 1
num_of_images: 19
--------------------------------------------------
URL: https://www.ad.co.il/ad/16189656
מחיר כלל: 1 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: תל חיים
כתובת: 1080 1
חדרים: 2.5
קומה: קרקע מתוך קרקע
שטח בנוי: 1
תשלומים בשנה: 12
description: חדשות - the news time israel, האתר שמציל את המדינה, חדשות - https://thenewstimeisrael.com/
is_furnished: 0
ac: 0
has_parking: 0
has_safe_room: 0
has_balcon: 0
handicap: 0
has_bars: 0
elevator: 0
has_stotsge: 0
has_sun_balcon: 0
is_renovated: 0
num_of_images: 13
--------------------------------------------------
URL: https://www.ad.co.il/ad/16191455
מחיר כלל: 25,000 ₪
פרטי הנכס: גג/ פנטהאוז
אזור: תל אביב
עיר: תל אביב יפו
שכונה: לב תל אביב החלק הדרומי
כתובת: החשמל 4
חדרים: 4
מרפסות: 2
קומה: 6 מתוך 6
שטח בנוי: 275
תאריך כניסה: מיידית
תשלומים בשנה: 12
description: דרום שדרות רוטשילד, בלבונטין המבוקשת!
פנטהאוז יחיד בקומה עם 4 כיווני אוויר ונוף פנורמי פתוח לים שלא ייחסם לעולם! אין בניה באזור וגם לא מתוכננת אחת כזו.
בניין חדש מקבלן שאוכלס רק לאחרונה,
אכלוס ראשון בדירה.
הדירה מגיעה מרוהטת קומפלט! (לא חובה)
ממש ליד הבר יין שכולנו אוהבים - "הבוסר"
מרחק פסיעה מרוטשילד/יהודה הלוי/ פארק המסילה ועוד..
בנוסף למרפסת הגדולה גם הגג מוצמד לדירה בטאבו לאירועים ומסיבות גג
is_furnished: 1
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 1
has_bars: 1
elevator: 1
has_stotsge: 1
has_sun_balcon: 1
is_renovated: 1
num_of_images: 11
--------------------------------------------------
URL: https://www.ad.co.il/ad/16191355
מחיר כלל: 8,000 ₪
פרטי הנכס: דירה
אזור: תל אביב
עיר: תל אביב יפו
שכונה: נוה חן
כתובת: מעפילי אגוז 58
חדרים: 4
מרפסות: 1
קומה: 6 מתוך 7
שטח בנוי: 105
שטח גינה: 14
תשלומים בשנה: 12
ועד בית בחודש: 300
description: ללא תיווך!! דירת 4 חדרים חדשה גדולה ומוארת, 3 חדרי שינה (אחד מהם ממ"ד גדול), שירותקלחת + שירותים נפרדים, סלון רחב, מרפסת שמש עם חיבור גז ומים, מטבח מפנק עם אי ענק, כריים גז, תנור מובנה ומדיח כלים.
בכל החלונות יש תריסים חשמליים, חניה פרטית תת קרקעית עם מחסן צמוד, הדירה תעבור צביעה לפני כניסתכם!
מתאים למשפחה / שותפים,
כניסה ב1.7 גמיש קצת.
אני במילואים אז אם לא זמינים תשלחו הודעה בוואטסאפ ונחזור
is_furnished: 0
ac: 1
has_parking: 1
has_safe_room: 1
has_balcon: 1
handicap: 1
has_bars: 0
elevator: 1

In [3]:
import pandas as pd
import numpy as np

# 1. Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(apartments_data, orient='index').reset_index()
df.rename(columns={'index': 'ad_url'}, inplace=True)

# 2. Standardize the columns: identify all possible columns
all_columns = set()
for data in apartments_data.values():
    all_columns.update(data.keys())

# 3. Make sure each row contains all columns; if not, fill with None or 0 depending on the case
bool_columns = {
    'has_parking', 'has_safe_room', 'has_balcon', 'handicap', 'has_bars',
    'elevator', 'has_storage', 'has_sun_balcon', 'is_renovated', 'is_furnished', 'ac'
}

# Filling in missing columns in the DataFrame
for col in all_columns:
    if col not in df.columns:
        # If it's a boolean column → 0, otherwise NaN
        df[col] = 0 if col in bool_columns else np.nan

# 4. Raw save without renaming
df.to_csv("apartments_full_data_raw.csv", index=False, encoding='utf-8-sig')

# 5. Display the current structure
df.head()

,ad_url,מחיר כלל,פרטי הנכס,אזור,עיר,שכונה,כתובת,חדרים,קומה,שטח בנוי,...,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,תת קטגוריה,יצרן,סוג,מצב
0,https://www.ad.co.il/ad/16197381,"5,000 ₪",דירה,תל אביב,תל אביב יפו,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.ad.co.il/ad/13704459,"7,000 ₪",דירה,תל אביב,תל אביב יפו,לב תל אביב החלק הדרומי,מלצ'ט 8,3,2 מתוך 4,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.ad.co.il/ad/15547083,"7,500 ₪",דירה,תל אביב,תל אביב יפו,לב תל אביב החלק הדרומי,אחד עם 88,3,קרקע מתוך 4,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.ad.co.il/ad/16191330,"11,000 ₪",גג/ פנטהאוז,תל אביב,תל אביב יפו,נוה חן,מעפילי אגוז 66,5,7 מתוך 7,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.ad.co.il/ad/15905127,"7,000 ₪",דירה,תל אביב,תל אביב יפו,לב תל אביב החלק הדרומי,במנחם בגין 9,3,2 מתוך 4,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import numpy as np

# 1. הסרת עמודות לא רלוונטיות אם הן קיימות
columns_to_drop = ['has_sun_balcon','ad_url', 'אזור', 'תת קטגוריה', 'מצב','עיר','מרפסות']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

# 2. הוספת עמודה DistanceFromCenter עם ערכים NaN
df['DistanceFromCenter'] = np.nan
df.head()

,מחיר כלל,פרטי הנכס,שכונה,כתובת,חדרים,קומה,שטח בנוי,תאריך כניסה,תשלומים בשנה,ארנונה בחודש,...,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,יצרן,סוג,DistanceFromCenter
0,"5,000 ₪",דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"7,000 ₪",דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3,2 מתוך 4,76,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"7,500 ₪",דירה,לב תל אביב החלק הדרומי,אחד עם 88,3,קרקע מתוך 4,70,NaN,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"11,000 ₪",גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5,7 מתוך 7,190,NaN,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"7,000 ₪",דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3,2 מתוך 4,70,מיידית,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd

# מילון לשינוי שמות עמודות מעברית לאנגלית
rename_dict = {
    'פרטי הנכס': 'property_type',
    'שכונה': 'neighborhood',
    'כתובת': 'address',
    'חדרים': 'room_num',
    'קומה': 'floor',
    'שטח בנוי': 'area',
    'שטח גינה': 'garden_area',
    'תאריך כניסה': 'days_to_enter',
    'תשלומים בשנה': 'num_of_payments',
    'ארנונה בחודש': 'monthly_arnona',
    'num_of_images':'num_of_images',
    'ועד בית בחודש': 'building_tax',
    'קומות בבניין': 'total_floors',
    'מחיר כלל': 'price',
    'DistanceFromCenter': 'distance_from_center',
}

# חילוץ מספר קומה וסך הקומות מתוך מחרוזת כמו "3 מתוך 5"
if 'floor' in df.columns:
    df[['floor', 'total_floors']] = df['floor'].astype(str).str.extract(r'(\d+)\s*(?:מתוך\s*(\d+))?')
    df['floor'] = pd.to_numeric(df['floor'], errors='coerce').astype('Int64')
    df['total_floors'] = pd.to_numeric(df['total_floors'], errors='coerce').astype('Int64')

# שינוי שמות העמודות
df.rename(columns=rename_dict, inplace=True)

# הסרת עמודות מיותרות
columns_to_drop = ['ad_url','אזור', 'תת קטגוריה', 'מרפסות', 'עיר', 'יצרן', 'סוג', 'מצב']
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

# עמודות בוליאניות -> int32
bool_columns = [
    'has_parking', 'has_storage', 'elevator', 'ac', 'handicap',
    'has_bars', 'has_safe_room', 'has_balcon', 'is_furnished', 'is_renovated'
]
for col in bool_columns:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype('int32')

df.dtypes

price                    object
property_type            object
neighborhood             object
address                  object
room_num                 object
floor                    object
area                     object
days_to_enter            object
num_of_payments          object
monthly_arnona           object
building_tax             object
description              object
is_furnished              int32
ac                        int32
has_parking               int32
has_safe_room             int32
has_balcon                int32
handicap                  int32
has_bars                  int32
elevator                  int32
has_stotsge               int64
is_renovated              int32
num_of_images             int64
garden_area              object
שנה                      object
יד                       object
ת. הילוכים               object
נפח                      object
סוג מנוע                 object
ק"מ                      object
טסט עד                   object
צבע                      object
בעלות קודמת              object
בעלות נוכחית             object
distance_from_center    float64
dtype: object

In [6]:
df.head()

,price,property_type,neighborhood,address,room_num,floor,area,days_to_enter,num_of_payments,monthly_arnona,...,יד,ת. הילוכים,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,distance_from_center
0,"5,000 ₪",דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"7,000 ₪",דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3,2 מתוך 4,76,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"7,500 ₪",דירה,לב תל אביב החלק הדרומי,אחד עם 88,3,קרקע מתוך 4,70,NaN,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"11,000 ₪",גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5,7 מתוך 7,190,NaN,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"7,000 ₪",דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3,2 מתוך 4,70,מיידית,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Convert price column to float values
df['price'] = (
    df['price']
    .astype(str)  # Make sure all values are strings
    .str.replace(r'[^\d.]', '', regex=True)  # Remove non-numeric characters
    .replace('', np.nan)  # Replace empty strings with NaN
    .astype(float)  # Convert to float
)

# Closed list of valid property types
valid_types = {
    "דירה",
    "דירת גן",
    "בית פרטי/ קוטג'",
    "גג/ פנטהאוז",
    "מגרשים",
    "דופלקס",
    "תיירות ונופש",
    "כללי"
}

## Replace invalid values
df['property_type'] = df['property_type'].apply(
    lambda x: x if x in valid_types else "באתר מופיע ערך שלא ברשימה הסגורה"
)

# Convert room_num column to float
df['room_num'] = pd.to_numeric(df['room_num'], errors='coerce')


df.head()

,price,property_type,neighborhood,address,room_num,floor,area,days_to_enter,num_of_payments,monthly_arnona,...,יד,ת. הילוכים,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,distance_from_center
0,5000.0,דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7000.0,דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3.0,2 מתוך 4,76,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7500.0,דירה,לב תל אביב החלק הדרומי,אחד עם 88,3.0,קרקע מתוך 4,70,NaN,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11000.0,גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5.0,7 מתוך 7,190,NaN,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000.0,דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3.0,2 מתוך 4,70,מיידית,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dtypes

price                   float64
property_type            object
neighborhood             object
address                  object
room_num                float64
floor                    object
area                     object
days_to_enter            object
num_of_payments          object
monthly_arnona           object
building_tax             object
description              object
is_furnished              int32
ac                        int32
has_parking               int32
has_safe_room             int32
has_balcon                int32
handicap                  int32
has_bars                  int32
elevator                  int32
has_stotsge               int64
is_renovated              int32
num_of_images             int64
garden_area              object
שנה                      object
יד                       object
ת. הילוכים               object
נפח                      object
סוג מנוע                 object
ק"מ                      object
טסט עד                   object
צבע                      object
בעלות קודמת              object
בעלות נוכחית             object
distance_from_center    float64
dtype: object

In [9]:
# המרת עמודות מספריות ל-Int64
int_columns = [
    'area', 'garden_area', 'days_to_enter', 'num_of_payments',
    'monthly_arnona', 'building_tax', 'num_of_images'
]

# המרת room_num ו-price ל-float
for col in ['room_num', 'price']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

df.head()
df.columns
df.dtypes

price                   float64
property_type            object
neighborhood             object
address                  object
room_num                float64
floor                    object
area                     object
days_to_enter            object
num_of_payments          object
monthly_arnona           object
building_tax             object
description              object
is_furnished              int32
ac                        int32
has_parking               int32
has_safe_room             int32
has_balcon                int32
handicap                  int32
has_bars                  int32
elevator                  int32
has_stotsge               int64
is_renovated              int32
num_of_images             int64
garden_area              object
שנה                      object
יד                       object
ת. הילוכים               object
נפח                      object
סוג מנוע                 object
ק"מ                      object
טסט עד                   object
צבע                      object
בעלות קודמת              object
בעלות נוכחית             object
distance_from_center    float64
dtype: object

In [10]:
df.head()

,price,property_type,neighborhood,address,room_num,floor,area,days_to_enter,num_of_payments,monthly_arnona,...,יד,ת. הילוכים,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,distance_from_center
0,5000.0,דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7000.0,דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3.0,2 מתוך 4,76,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7500.0,דירה,לב תל אביב החלק הדרומי,אחד עם 88,3.0,קרקע מתוך 4,70,NaN,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11000.0,גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5.0,7 מתוך 7,190,NaN,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000.0,דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3.0,2 מתוך 4,70,מיידית,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
!pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\ricardo caster\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\ricardo caster\anaconda3\lib\site-packages (from googlemaps) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ricardo caster\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ricardo caster\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ricardo caster\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ricardo caster\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2024.8.30)

In [12]:
import googlemaps

In [13]:
def add_distance_from_center(df, api_key, center_address="כיכר דיזנגוף, תל אביב"):
    """
    מקבלת DataFrame עם עמודת address או neighborhood,
    מחזירה את אותו df עם עמודה חדשה: distance_from_center (במטרים, כ-float)
    """
    import requests
    import json
    import time
    import pandas as pd
    import googlemaps

    distances = []

    def format_address(addr):
        if not isinstance(addr, str) or not addr.strip():
            return None
        addr = addr.strip()
        if "תל אביב" not in addr:
            addr += ", תל אביב"
        return addr

    def get_distance(origin, destination, api_key):
        url = f"https://routes.googleapis.com/directions/v2:computeRoutes"
        headers = {
            'Content-Type': 'application/json',
            'X-Goog-Api-Key': api_key,
            'X-Goog-FieldMask': 'routes.distanceMeters'
        }
        body = {
            "origin": {"address": origin},
            "destination": {"address": destination},
            "travelMode": "DRIVE",
            "routingPreference": "TRAFFIC_AWARE"
        }

        response = requests.post(url, headers=headers, json=body)
        if response.status_code == 200:
            data = response.json()
            if 'routes' in data and data['routes']:
                return float(data['routes'][0]['distanceMeters'])  
        return None

    for i, row in df.iterrows():
        address = format_address(row.get("address", ""))
        neighborhood = format_address(row.get("neighborhood", ""))
        distance = None

        if address:
            distance = get_distance(address, center_address, api_key)
            if distance is not None:
                distances.append(distance)
                continue
            else:
                print(f"שגיאה: לא נמצאה תוצאה עבור הכתובת {address}")

           
        if neighborhood:
            distance = get_distance(neighborhood, center_address, api_key)
            if distance is not None:
                distances.append(distance)
                continue
            else:
                print(f"שגיאה: לא נמצאה תוצאה גם עבור השכונה {neighborhood}")

        distances.append(None)
        time.sleep(0.2)

    df["distance_from_center"] = pd.to_numeric(distances, errors="coerce")

    return df

In [14]:
# Put your API here
api_key = 'AIzaSyDgfvwFo7Rbsx5rCdc8ISm3k5V_xIFkWNk'
df = add_distance_from_center(df, api_key)

In [15]:
df.head()

,price,property_type,neighborhood,address,room_num,floor,area,days_to_enter,num_of_payments,monthly_arnona,...,יד,ת. הילוכים,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,distance_from_center
0,5000.0,דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7070.0
1,7000.0,דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3.0,2 מתוך 4,76,מיידית,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3060.0
2,7500.0,דירה,לב תל אביב החלק הדרומי,אחד עם 88,3.0,קרקע מתוך 4,70,NaN,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2796.0
3,11000.0,גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5.0,7 מתוך 7,190,NaN,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6397.0
4,7000.0,דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3.0,2 מתוך 4,70,מיידית,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4026.0

In [16]:
df.dtypes

price                   float64
property_type            object
neighborhood             object
address                  object
room_num                float64
floor                    object
area                     object
days_to_enter            object
num_of_payments          object
monthly_arnona           object
building_tax             object
description              object
is_furnished              int32
ac                        int32
has_parking               int32
has_safe_room             int32
has_balcon                int32
handicap                  int32
has_bars                  int32
elevator                  int32
has_stotsge               int64
is_renovated              int32
num_of_images             int64
garden_area              object
שנה                      object
יד                       object
ת. הילוכים               object
נפח                      object
סוג מנוע                 object
ק"מ                      object
טסט עד                   object
צבע                      object
בעלות קודמת              object
בעלות נוכחית             object
distance_from_center    float64
dtype: object

In [17]:
# המרת עמודות מספריות ל-Int64
int_columns = [
    'area', 'garden_area', 'days_to_enter', 'num_of_payments',
    'monthly_arnona', 'building_tax', 'num_of_images'
]

cols_to_convert = ['area', 'num_of_payments', 'monthly_arnona', 'building_tax', 'garden_area']
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

df["days_to_enter"] = (
    df["days_to_enter"]
    .replace("מיידית", 0)  # Replace "מיידית" with 0
    .replace("", np.nan)   # Replace empty string with NaN (optional if needed)
)

# Convert to numeric with Int64 to allow missing values
df["days_to_enter"] = pd.to_numeric(df["days_to_enter"], errors="coerce").astype("Int64")

C:\Users\Ricardo Caster\AppData\Local\Temp\ipykernel_18820\1911417785.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace("מיידית", 0)  # Replace "מיידית" with 0

In [18]:
df.head()

,price,property_type,neighborhood,address,room_num,floor,area,days_to_enter,num_of_payments,monthly_arnona,...,יד,ת. הילוכים,נפח,סוג מנוע,"ק""מ",טסט עד,צבע,בעלות קודמת,בעלות נוכחית,distance_from_center
0,5000.0,דירה,נוה חן,מעפילי אגוז 5,2.5,3 מתוך 4,65,0,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7070.0
1,7000.0,דירה,לב תל אביב החלק הדרומי,מלצ'ט 8,3.0,2 מתוך 4,76,0,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3060.0
2,7500.0,דירה,לב תל אביב החלק הדרומי,אחד עם 88,3.0,קרקע מתוך 4,70,<NA>,12,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2796.0
3,11000.0,גג/ פנטהאוז,נוה חן,מעפילי אגוז 66,5.0,7 מתוך 7,190,<NA>,12,500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6397.0
4,7000.0,דירה,לב תל אביב החלק הדרומי,במנחם בגין 9,3.0,2 מתוך 4,70,0,12,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4026.0

In [19]:
df.to_csv("DATA__apartment_final.csv", index=False, encoding='utf-8-sig')

In [20]:
df.dtypes

price                   float64
property_type            object
neighborhood             object
address                  object
room_num                float64
floor                    object
area                      int32
days_to_enter             Int64
num_of_payments           int32
monthly_arnona            int32
building_tax              int32
description              object
is_furnished              int32
ac                        int32
has_parking               int32
has_safe_room             int32
has_balcon                int32
handicap                  int32
has_bars                  int32
elevator                  int32
has_stotsge               int64
is_renovated              int32
num_of_images             int64
garden_area               int32
שנה                      object
יד                       object
ת. הילוכים               object
נפח                      object
סוג מנוע                 object
ק"מ                      object
טסט עד                   object
צבע                      object
בעלות קודמת              object
בעלות נוכחית             object
distance_from_center    float64
dtype: object